body {background-color: aquamarine;
    margin: 50px 100px 100px 50px;
}
head{
    font-family: Arial;
    font-size: 250%;
    font-weight: 200%;
    align-content: center;
}
p   {
    color: black;
    font-family: Arial;
    font-size: 100%;   
    }